.breadcrumb {
    margin: 2rem 0;
}

.breadcrumb__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.breadcrumb__item {
    display: flex;
    align-items: center;
}

.breadcrumb__link,
.breadcrumb__icon {
    color: var(--gray-500);
    transition: all .2s ease-in-out;
}

.breadcrumb__icon-none{
    display: none;
}

.breadcrumb__item:hover .breadcrumb__link {
    color: var(--dark);
}

.breadcrumb__item:hover .breadcrumb__icon {
    color: var(--primary);
    transform: translateX(0.2rem) scale(1.1);
}